@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid #000; */
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

/* general styles */
.padding-x {
    @apply px-5;
}

.padding-y {
    @apply px-3;
}

.flex-center {
    @apply flex items-center justify-center;
}

.flex-between {
    @apply flex items-center justify-between;
}

/*  */